@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #F3F6F7;
    margin: 0 auto;
    font-family: "Poppins", monospace;
    padding: 50px 10px;
}

header {
    margin-bottom: 5px;
    display: flex;
    justify-content: center;
}

main {
    border: 1px solid #DDE0E3;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 5px;
    padding: 20px;
    height: 100vh;
}

#add-section {
    margin-bottom: 10px;
}

#add-title {
    background-color: #6153CC;
    width: 100%;
    display: flex;
    justify-content: center;
    border-radius: 2px 2px 0 0;
}

h3 {
    color: white;
    font-weight: normal;
}

form {
    border-radius: 0 0px 2px 2px;
    border: 1px solid #6153CC;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 30px;
    width: 100%;
}

input {
    padding: 10px;
    border-radius: 2px;
    border: 1px solid #DDE0E3;
    font-size: 0.8rem;
    font-family: "Poppins", monospace;
}

#add {
    padding: 10px;
    background-color: #6153CC;
    color: white;
    border-radius: 2px;
    font-family: "Poppins", monospace;
    border: none;
}

#add:hover {
    background-color: #9A91DE;
    cursor: pointer;
}

#product-title {
    background-color: #CE4760;
    width: 100%;
    display: flex;
    justify-content: center;
    border-radius: 2px 2px 0 0;
}

table {
    border: 1px solid #CE4760;
    width: 100%;
    border-radius: 0 0px 2px 2px;
    overflow: hidden;
}

th, td {
    padding: 12px 16px;
    text-align: left;
    border-bottom: 1px solid #DDE0E3;
    border-right: 1px solid #DDE0E3;
}

#actions {
    display: flex;
    justify-content: center;
}

.btn-delete {
    margin-left: 5px;
    padding: 5px;
    background-color: #FF4000;
    color: white;
    border-radius: 2px;
    font-family: "Poppins", monospace;
    border: none;
}

.btn-delete:hover {
    background-color: #FFB399;
    cursor: pointer;
}

.btn-edit {
    margin-right: 5px;
    padding: 5px;
    background-color: #4BAFBE;
    color: white;
    border-radius: 2px;
    font-family: "Poppins", monospace;
    border: none;
}

.btn-edit:hover {
    background-color: #A5D7DF;
    cursor: pointer;
}
